.Container {
  flex: 1;
  padding: 100px 215px 0 215px;
}

.Title {
  font-size: 34px;
  font-weight: bold;
}

.TitleDescription {
  font-size: 16px;
  color: #8e8e8e;
  font-weight: 400;
  margin: 8px 0;
  width: 650px;
}

.CardPicture {
  width: 232px;
  height: 232px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.6s;

  &:hover {
    transform: scale(1.2);
  }
}

.CardName {
  font-size: 18px;
  font-weight: 400;
  margin: 8px 0;
}

.CardDescription {
  font-size: 14px;
  color: #8e8e8e;
  font-weight: 300;
  margin: 8px 0;
}